@font-face {
  font-family:'Eagle Book';
  src:url('../fonts/eagle-book.eot');
  src:url('../fonts/eagle-book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/eagle-book.woff') format('woff'),
      url('../fonts/eagle-book.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Eagle Light';
  src:url('../fonts/eagle-light.eot');
  src:url('../fonts/eagle-light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/eagle-light.woff') format('woff'),
      url('../fonts/eagle-light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Pacifico';
  src:url('../fonts/pacifico.eot');
  src:url('../fonts/pacifico.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pacifico.woff') format('woff'),
      url('../fonts/pacifico.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

/*
 * Effects
 */
nav li a {
  -moz-transition:color 0.2s ease 0s, background-color 0.2s ease 0s;
}

#main a {
  -moz-transition:all 0.2s ease 0s;
}

#main img {
  -moz-transition:opacity 0.2s ease 0s;
}

body {
  background:#1D88CA;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.branding nav li {
  background:#6EC4E3;
}


/**
 * Layout styling
 */
.branding {
background: #1D88CA;
}
.branding #site-name {
font-size: 3em;
font-family: "Eagle Book",sans-serif;
}

.sidebar-first section {
  margin-bottom: 30px;
}

#main {
  padding-bottom:100px;
  background: url("../images/bg-main.png") no-repeat scroll center bottom #fff;
}

/*
 * Typography
 */
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

aside h2 {
  font-family: "Eagle Book",sans-serif;
}

h1, h2, h3 {
  line-height:32px;
  margin-bottom:10px;
}

h3, h4, h5, h6 {
  line-height:32px;
}

h1 {
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

h2 {
  font-size:28px;
}

h3 {
  font-size:20px;
}

h4 {
  font-size:18px;
}

h5 {
  font-size:14px;
}

h6 {
  font-size:13px;
  text-transform:uppercase;
}

p {
  margin-bottom:20px;
}

/**
 * Override for aside.
 */
aside h2,
aside h3 {
  font-size: 17px;
  line-height: 18px;
}

/*
 * Links
 */
a {
  color:#0691bb;
}

a:hover {
  color:#404040;
}
view-ns-prod-enterprise-office
h1 {
  font-size:38px;
  line-height:40px;
  margin-bottom:13px;
  letter-spacing:-1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color:#404040;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color:#2c99ba;
}

aside h2, h5, h4 {
  font-family:"Eagle Book", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

aside h2 {
  font-size:17px;
  line-height:18px;
  margin-bottom:10px;
  text-transform:uppercase;
}

.front .page-title h1 {
  font-family: "Eagle Light",sans-serif;
  font-size: 39px;
  font-weight: normal;
  line-height: 44px;
  margin-bottom: 14px;
  text-transform: none;
}

.page-title h1, .view-ns-prod-enterprise-users h3 {
  font-family: "Eagle Book",sans-serif;
}

/*
 * Typography
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  color: #888;
  font-size: 85%;
  font-style: italic;
  line-height: 1.6;
  margin: 20px;
}

.page-main p,
.page-main ol,
.page-main ul,
.prose p,
.prose ol,
.prose ul,
.comment p,
.field-field-body p,
.field-field-body ol,
.field-field-body ul {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 20px;
}

.page-main ol li,
.page-main ul li,
.prose ol li,
.prose ul li,
.field-field-body ol li,
.field-field-body ul li {
  display: list-item;
  margin: 0 0 0 30px;
}

.node ol ol,
.node ul ul,
.node ol ul,
.node ul ol,
.prose ol ol,
.prose ul ul,
.prose ol ul,
.prose ul ol,
.field-field-body ol ol,
.field-field-body ul ul,
.field-field-body ol ul,
.field-field-body ul ol {
  margin:0;
}

.node ol li,
.prose ol li,
.field-field-body ol li {
  list-style:decimal;
}

.node ul li,
.prose ulock
l li,
.field-field-body ul li {
  list-style:disc;
}

.submitted,
.submitted-date {
  color: #868682;
  font-size: 10px;
}

#main aside#sidebar-first > section,
#main aside.aside-beta > section {
  margin-bottom: 20px;
  padding-top: 20px;
}

section.page-content .aside-alpha section.node-field-ns-page-link-list {
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  font-size: 12px;
  padding: 18px 20px;
}

.aside-alpha .field-label {
  font-family: "Eagle Book",sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

aside#sidebar-first .promo a h5 {
  line-height: 23px;
}

.cases h2, .services h2 {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

/**
 * Header.
 */
.header-beta {
  margin-bottom: 20px;
}
 
/**
 * Footer.
 */
footer[role=footer] {
  border-top: 8px solid #6EC4E3;
  padding: 10px 0 80px 0;
  color: #fff;
}

footer[role=footer] nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding: 20px 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer[role=footer] nav .top-level a {
  color: #6EC4E3;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Eagle Book", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

footer[role="footer"] nav ul li.secondary a {
  color: #fff;
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

footer[role="footer"] nav ul li.top-level ul {
  margin: 0;
}

/**
 * Comments.
 */
.comment {
  padding: 12px 14px 2px 14px;
}

.comment:nth-of-type(odd)  {
  background: #F9F9F9;
}

.comment h6,
.comment h6 a {
  color: #784E23;
  line-height: 24px;
  font-family: 'Eagle Book', sans-serif;
}

.main .highlighted {
  font-size: 23px;
  line-height: 29px;
  margin-bottom: 20px;
}


/**
 * Special case for our front page callout.
 */
.front .highlighted {
  font-size: 15px;
  line-height: 24px;
  font-family: inherit;
}

/**
 * Legal menu
 */
footer[role=footer] .menu-no-additions-legal {
  width: 40%;
  float: right;
}
footer[role=footer] .menu-no-additions-legal nav {
  font-size: 10px;
  border: none;
  padding: 0;
  margin-bottom: 0;
  text-align: right;
}

footer[role=footer] .menu-no-additions-legal nav .top-level a,
footer[role="footer"] .menu-no-additions-legal nav ul li.level-1 a { 
  font-size: 10px;
  color: #fff;
  font-family: inherit;
  text-transform: none;
  padding-right: 0;
}

footer[role=footer] .menu-no-additions-legal nav .top-level a:hover {
  text-decoration: underline;
}

footer[role="footer"] .menu-no-additions-legal nav ul li.level-1 {
  float: right;
}

/**
 * Footer message.
 */
footer[role="footer"] .copyright {
  text-align: right;
  font-size: 10px;
  float: right;
  width: 20%; 
}

footer[role="footer"] .copyright p {
  padding: 0;
  margin: 0;
}
/**
* User pages
*/
.page-user .content-column-two-left-inner {
  margin: 0 30px 20px 0;
}
.page-user .content-column-two-right {
  width: 50%;
}
.page-user section.user-field-ns-prod-entrpr-lead,
.page-user p.field-ns-prod-entrpr-lead {
  margin: 0;
}

/**
 * Social links.
 */
.social-links {
  padding: 20px 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}

.social-links .provider {
  float: left;
  margin-right: 10px;
}

.user-field-no-additions-drupal,
.user-field-no-additions-facebook,
.user-field-no-additions-twitter,
.user-field-no-additions-gplus,
.user-field-no-additions-linkedin {
  float: left;
  margin-right: 2px;
}
.user-field-no-additions-drupal > a,
.user-field-no-additions-facebook > a,
.user-field-no-additions-twitter > a,
.user-field-no-additions-gplus > a,
.user-field-no-additions-linkedin > a {
  background: url("../images/sprite.png");
  width: 38px;
  height: 38px;
  line-height: 38px;
  display: block;
  overflow: hidden;
  font-size: 0px;
}

.user-field-no-additions-linkedin > a {
  background: url("../images/sprite.png");
  background-position-x: -38px;
}

.user-field-no-additions-linkedin > a {
  background: url("../images/sprite.png");
  background-position-x: -38px;
}

.user-field-no-additions-twitter > a {
  background: url("../images/sprite.png");
  background-position-x: -78px;
}

.user-field-no-additions-facebook > a {
  background: url("../images/sprite.png");
  background-position-x: -116px;
}

.user-field-no-additions-gplus > a {
  background: url("../images/sprite.png");
  background-position-x: 38px;
}

.user-field-no-additions-drupal > a:hover,
.user-field-no-additions-facebook > a:hover,
.user-field-no-additions-twitter > a:hover,
.user-field-no-additions-gplus > a:hover,
.user-field-no-additions-linkedin > a:hover {
  background-position-y: 38px;
}

/* Blog posts */
.node-type-ns-blog-post .node-created {
  color: #868682;
  display: block;
  font-size: 10px;
  margin: 10px 0 15px 0;
}

#mini-panel-ns-prod-entrpr-user-author div.standard a:first-child {
  float: left;
}
#mini-panel-ns-prod-entrpr-user-author div.standard a:nth-child(2) {
  clear: both;
}
#mini-panel-ns-prod-entrpr-user-author div.standard a:last-of-type {
  float: left;
}
#mini-panel-ns-prod-entrpr-user-author div.standard a:last-of-type p {
  margin-bottom: 0;
}
#mini-panel-ns-prod-entrpr-user-author div.standard a img {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
}


section.ns-prod-enterprise-users-panel-pane-1 {
  clear: both;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px dotted #ddd;
}

section.user-field-no-additions-linkedin {
  margin-bottom: 12px;
}


div.main .ns-prod-enterprise-users-panel-pane-1 h2.pane-title {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Eagle Book", sans-serif;
  font-weight: normal;
}

/* D.N.D.T.@.H ! */
.user-field-ns-prod-entrpr-position{
  margin-top: -16px;
}

