/**
 * @file
 * Contains some handy components that can be used to style:
 * - Thumbnails
 * - Cycle
 * - Navigation
 * - Promos
 * - Boxes
 * - Clouds
 */

.thumbnails {
  display-style: table;
}

/**
 * Put this class around an element to create a border around it.
 */
.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  padding: 4px;
}

.thumbnail .caption {
  padding: 9px;
}

/**
 * A simple slideshow.
 * Usage:
 *  Attach the cycle class to an element and allt classes named .item
 *  will be cycled.
 *  Add the "controls" class to get a prev and next button.
 */
.cycle {
  position: relative;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 12px;
}

.front .cycle {
  height: 320px;
}
.not-front .cycle {
  margin-bottom: 20px;
}

.cycle .content-column-two-right {
  margin: 0;
  padding: 0;
}

.cycle .content-column-two-right {
  background: #6EC4E3;
  height: 320px;
  width: 340px;
  padding: 20px;
}
 
.cycle .content-column-two-left-inner {
  margin-right: 0;
}

.cycle .content-column-two a,
.cycle .content-column-two a:hover {
  color: #fff;
}

.cycle .content-column-two-right a:after {
  content: " »";
}

.cycle .title {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "Eagle Light",sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cycle .pager {
  color: #fff;
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: 2%;
}

.cycle .pager .page {
  background: #B6E1F1;
  border-radius: 5px;
  width: 12px;
  height: 12px;
  line-height: 10px;
  font-size: 0px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
}

.cycle .pager .page:hover,
.cycle .pager .page.active {
  background: #fff;
}

/**
 * Navigation.
 */
nav ul li a {
  border-bottom: 1px dotted #ccc;
  color: #333;
  display: block;
  padding: 8px 12px;
}

nav ul li.first a {
  border-top: 1px solid dotted #ccc;
}

nav ul li a:hover,
nav ul li a.active {
  background: #6EC4E3;
  text-decoration: none;
}

nav ul li.expanded ul {
  margin-left: 20px;
}

/**
 * Highlighted text is bigger than normal text and can
 * be used as leads.
 */
.highlighted {
  font-family: "Eagle Light",sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
}

/**
 * Rows are used by panels ref formatter. Let's clear any floats
 * we have set before.
 */
.row {
  clear: both;
}

/**
 * Promo component. We need some custom styling for thumbnails
 * that should float left.
 */
.promo.thumb-floated-left {
  float: left;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.promo.thumb-floated-left:first-of-type {
  margin-left: 0;
}

.promo.thumb-floated-left:last-of-type {
  margin-right: 0;
}

.promo .title {
  font-size: 17px;
}

.promo a {
  color: inherit;
}

.promo a:hover {
  text-decoration: none;
}

.promo img {
  margin-bottom: 16px;
}

/**
 * Boxes have a background and some padding.
 * Ideal for fact boxes.
 */
.box {
  padding: 20px;
  margin-bottom: 20px;
  background: #DBEBF0;
}

.box h3 {
  font-size: 100%;
  text-transform: uppercase;
  font-family:"Eagle Book", sans-serif;
  margin-bottom: 0;
}

aside .box section {
  background: none;
}

/**
 * Clouds are useful when you want to display things like terms in a 'cloud'
 * of items.
 */
.cloud ul {
  list-style-type: none;
}

.cloud .cloud-item,
.cloud .field-item,
.cloud .views-row {
  float: left;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 1px 4px 2px;
  background-color: #3A87AD;
  margin: 2px;
}

.cloud .cloud-item a,
.cloud .field-item a,
.cloud .views-row a {
  color: #fff;
}
