/**
 * Some default styling for views rows.
 */
.views-row {
  border-bottom: 1px dotted #ddd;
  padding: 20px 0;
}

.item-list ul li.views-row {
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
}

aside .views-row {
  padding: 5px 0;
  border: 0;
}

.view-content {
  margin-bottom: 12px;
}

/**
 * We rewrite views grids to use divs rather than tables.
 */
.views-view-grid .col {
  float: left;
  width: 220px;
  margin: 0 10px;
}

.views-view-grid .col img {
  padding: 12px;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
}

.views-view-grid .col-first {
  margin-left: 0;
}

.views-view-grid .col-last {
  margin-right: 0;
}

.views-view-grid .row {
  clear: both;
}

/**
 * Article list
 */

 .front .view-no-additions-blog-post .view-content .views-row-first {
   border-top: 1px dotted #CCCCCC;
 }
 
 .view-ns-prod-enterprise-blog-posts .view-content .file-image .content img,
 .view-no-additions-blog-post .view-content .file-image .content img {
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  float: left;
  margin: 0 20px 10px 0;
  padding: 8px;
  width: 180px;
}
.view-ns-prod-enterprise-blog-posts .view-content .views-row h2,
.view-no-additions-blog-post .view-content .views-row h2 {
  margin-bottom: 0;
}

.view-ns-prod-enterprise-blog-posts .user,
.view-no-additions-blog-post .user {
  font-size: 10px;
  line-height: 40px;
}

.view-ns-prod-enterprise-blog-posts .field-ns-blog-post-lead,
.view-no-additions-blog-post .field-no-additions-teaser {
  margin-bottom: 10px;
}

.view-ns-prod-enterprise-blog-posts .submitted-date,
.view-no-additions-blog-post .submitted-date {
  float: left;
  padding-right: 5px;
  line-height: 40px;
}

.content-column-two-left-inner {
  margin-right: 0px;
}

  
/**
 * Services are special.
 */
.view-no-additions-services .views-view-grid .col {
  width: 300px;
}

.view-no-additions-services .views-view-grid .col img {
  height: 200px;
}

.view-no-additions-services .col {
  margin-bottom: 24px;
}

.view-no-additions-services .col img {
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  margin-bottom: 12px;
  padding: 8px;
  width: 286px;
}

.view h5{
  line-height: 18px;
}

/**
 * Cases
 */
.view-ns-prod-enterprise-content .col {
  margin-bottom: 12px;
 }

/**
 * Special stuff for clients.
 */
.view-no-additions-clients .views-view-grid .col {
  width: auto;
  padding: 0;
}

.footer-alpha {
  margin-bottom: 30px;
}

.footer-alpha .view-no-additions-clients .views-view-grid .col img {
  padding: 0;
  border: 0;
  box-shadow: 0;
}

/**
 * Special stuff for users.
 */
.grid-9 .views-view-grid .col {
  width: 140px;
}

.view-no-additions-clients .views-view-grid .col img {
 margin: 0;
}

.view-no-additions-clients .views-view-grid .col-7 {
 margin-right: 0;
}

.view-ns-prod-enterprise-users h3 {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.view-ns-prod-enterprise-users .views-view-grid .col {
  float: left;
  margin: 0 24px 6px 0;
  min-height: 170px;
  width: 142px;
}
.view-ns-prod-enterprise-users .views-view-grid .col img {
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  height: auto;
  margin-bottom: 5px;
  padding: 8px;
  width: 123px;
}
.view-ns-prod-enterprise-users .views-view-grid h5.name {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 3px;
}
.view-ns-prod-enterprise-users .views-view-grid h5 a {
  color: #0691BB;
}
.view-ns-prod-enterprise-users .views-view-grid .field-ns-prod-entrpr-position {
  color: #666666;
  font-size: 10px;
  line-height: 13px;
}
.view-ns-prod-enterprise-users h3 {
  clear: both;
}

/**
 * Office fix.
 */
.grid-9 .view-ns-prod-enterprise-office .views-view-grid  .col {
  width: 200px;
}

.grid-9 .view-ns-prod-enterprise-office .views-view-grid  .col-3 {
  margin-right: 0px;
}

/**
 * Search form.
 */
.branding form {
  margin: 0;
}

.branding form .views-exposed-widget,
.branding form .views-exposed-widgets {
  margin:0;
  padding:0;
  float: left;
}

.branding form input {
  border:0;
  margin:0;
  color:#a79a95;
  box-shadow:none;
  background:rgba(0,0,0,0.4);
}

.branding form .form-text {
  width: 185px;
  height: 27px;
  padding:6px;
  -webkit-appearance:none;
  -webkit-border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
}

.branding form .form-text:focus {
  background:rgba(0,0,0,0.5);
}

.branding form .form-submit {
  width: 35px;
  height: 27px;
  padding:5px;
  margin-top: 10px;
  line-height:1px;
  text-indent:-9999px;
  background:rgba(0,0,0,0.4) url(../images/search.png) center center no-repeat;
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}

#main .views-exposed-form {
  background : #F9F9F9;
  padding: 20px;
  margin-bottom: 20px;
}

#main .view-exposed-widgets {
  height: 100px;
}

#main .views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

#main .views-exposed-widget input {
  height: 30px;
}

#main .views-exposed-widget input[type="submit"] {
  margin-top: 9px;
  height: 30px;
}

#main #edit-search-api-views-fulltext {
  width: 400px;
}

/**
 * Special case for our footer content.
 */
 
.view-no-additions-footer-promo .views-row {
  float: left;
  width: 50%;
  border: none;
  margin: none;
  font-weight: bold;
}

.view-no-additions-footer-promo .title,
.view-no-additions-footer-promo .title a,
.view-no-additions-footer-promo a:hover {
  color: #FC0;
}


.view-no-additions-footer-promo a {
  color: #fff;
}

footer[role="footer"] .view-no-additions-footer-office {
  font-size: 10px;
  float: left;
  width: 60%;
}

footer[role="footer"] .field-ns-prod-entrpr-address,
footer[role="footer"] .field-ns-prod-entrpr-address * {
  display: inline;
  font-family: inherit;
  text-transform: none;
  color: #fff;
  font-size: 10px;
}

footer[role="footer"] .view-no-additions-footer-office .views-row * {
  font-family: inherit;
  text-transform: none;
  color: #fff;
  font-size: 10px;
}

footer[role="footer"] .view-no-additions-footer-office .views-row {
  border-bottom: none;
  margin: 0;
  padding: 0 40px 0 0;
  float: left;
}

footer[role="footer"] .view-no-additions-footer-office .views-row .street-block {
  display: block;
}

footer[role="footer"] .field-ns-prod-entrpr-address,
footer[role="footer"] .view-no-additions-footer-office h5 {
  float: left;
}

footer[role="footer"] .view-no-additions-footer-office h5 a {
  color: #fff;
}

/**
 * Learning library.
 */
.views--exp-nc-learning-panel-pane-1 .views-exposed-widget {
  overflow: hidden;
}

.views--exp-nc-learning-panel-pane-1 .views-exposed-widget input[type="text"] {
  width: 300px;
}

#main .views--exp-nc-learning-panel-pane-1 .views-submit-button {
  margin-top: 20px;
}

.view-nc-learning .submitted {
  margin-bottom: 5px;
}

.view-nc-learning .field-nc-ll-exercise-vid-sol {
  margin-bottom: 12px;
}


.view-ns-prod-enterprise-users .view-content h3 {
  clear:both;
}
